.dashboard {
  padding: 20px;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-image: url("/images/bi.webp");
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center bottom; /* Ensure the bottom part of the image is visible */
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
